*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.py

app/src/main/lib/
app/src/main/libs/

aps3e.keystore
aps3e.jks
app/build.gradle
app/release/
app/.cxx/
app/src/main/cpp/bin/
app/build.gradle